<!--
  @author: Daniil Vorobyev
-->
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>Create Your Vinyl</title>
</head>

<body>
  <!-- Image and text -->
  <nav class="navbar" style="background-color: #1C00CE">
    <a class="navbar-brand" href="/template/genre">
      <img src="/vinyl.svg"" width="50" height="50" class="d-inline-block align-top">
      <h1 class="vinylshop" style="color:whitesmoke;"> Vinyl Shop </h1>
    </a>
    
    <div class="dropdown" style="float: right">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Menu
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/template/client">User Profile</a>
        <a class="dropdown-item" href="/template/vinyl/create">Create Vinyl</a>
        <a class="dropdown-item" href="/template/favourite">Favourites</a>
      </div>
    </div>
  </nav>

  <h1 style="margin-top: 5%; text-align: center;"> Create Your Vinyl </h1>

  <form action="/template/vinyl/create" method="POST" style="margin-left: 4%; margin-right: 4%">
    <div class="form-group">
      <label for="review">Vinyl</label>
      <input type="text" maxlength="600" size="4" 
        class="form-control" id="title" name="title" placeholder="Title">
      <input type="text" maxlength="600" size="4" 
        class="form-control" id="artist" name="artist" placeholder="Artist">
      <input type="text" maxlength="600" size="4" 
        class="form-control" id="description" name="description" placeholder="Description">
      <select name="genre" id="genre">
          <option value="ELECTRO">Electro</option>
          <option value="ROCK">Rock</option>
          <option value="HIPHOP">Hip-Hop</option>
          <option value="CLASSIC">Classic</option>
        </select>
      <input type="number" maxlength="600" size="4" 
        class="form-control" id="price" name="price" placeholder="Price">
    </div>
    <button style="display: inline-block" type="submit" class="btn btn-primary">Create Vinyl</button>
  </form>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



</body>

</html>