<!--
  @author: Dennis Dreier
-->
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title> {genre} </title>
</head>

<body>
  <!-- Image and text -->
  <nav class="navbar" style="background-color: #1C00CE">
    <a class="navbar-brand" href="/template/genre">
      <img src="/vinyl.svg"" width="50" height="50" class="d-inline-block align-top">
      <h1 class="vinylshop" style="color:whitesmoke;"> Vinyl Shop </h1>
    </a>
    
    <div class="dropdown" style="float: right">
      <a href="/template/client/create" class="btn btn-primary">
        Create Account
      </a>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Menu
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/template/client">User Profile</a>
        <a class="dropdown-item" href="/template/vinyl/create">Create Vinyl</a>
        <a class="dropdown-item" href="/template/favourite">Favourites</a>
      </div>
    </div>
  </nav>

  <h1 class="title"> {genre} </h1>
  <ul>
    {#for vinyl in vinyls}
    <div class="vinyl_component" style="margin-top: 4%">
      <div class="row">
        <div class="col-sm">
          {#if vinyl.id > 13}
          <img class="album" src="/album14.jpg" width="150" height="150">
          {#else}
          <img class="album" src="/album{vinyl.id}.jpg" width="150" height="150">
          {/if}
        </div>
        <div class="col-md">
          <h1> {vinyl.title} </h1>
          <a href="/template/vinyl/{vinyl.id}" class="btn btn-primary">
            Go to Vinyl</a>
        </div>
      </div>
    </div>
    {/}
  </ul>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>