<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>Hello, world!</title>
</head>

<body>
  <!-- Image and text -->
  <nav class="navbar" style="background-color: #1C00CE">
    <a class="navbar-brand" href="/template/genre">
      <img src="/vinyl.svg" width="50" height="50" class="d-inline-block align-top" alt="">
      <p class="vinylshop" style="color:whitesmoke"> Vinyl Shop </p>
    </a>

  </nav>

  <div class="container" style="margin-top: 6%">
    <div class="row">
      <div class="col-sm">
        <img class="album" src="/ringo.jpg" width="300" height="300">
      </div>
      <div class="col-md">

        <h1 style="display: inline-block"> {user.username} </h1>
        <p>
          Auf dieser Seite werden Vinyls verkauft.
        </p>

      </div>
    </div>



  </div>

  <h1 style="margin-top: 5%; margin-left: 5%;display:inline-block">Reviews</h1>
  <a href="/template/review/{user.id}" class="btn btn-primary" style="margin-left: 5%; width: 110%;">Write a review</a>

  <ul>
    {#for review in user.reviews}
    <div class="user_review_component" style="margin-top: 6%; margin-left: 5%">
      <div class="row">
        <div class="col-sm">
          <h1> {#if review.stars is 5}
           One of the best seller ever !
          {#else if review.stars is 4}
            Very Good
            {#else if review.stars is 3}
            Good but flawed
            {#else if review.stars is 2}
            Not satisfied!
            {#else if review.stars is 1}
            Stay away!
           {/if}
          </h1>

        </div>
        <div class="col-sm">

          {#for star in review.stars}
          <img style="display:inline-block; width:1.2rem;height: 1.2rem;" src="/star.png"></img>
          {/}
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <b>by AnotherUser</b> <img class="album" src="/paul.jpg" width="40" height="40"
            style="display: inline-block">
        </div>
        <div class="col-sm">
          <p>{review.review}</p>
        </div>
      </div>
    </div>
    {/}
  </ul>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
      


     <!-- Method so the page refreshes only once Onload (found on stackoverflow)-->
    <!--https://stackoverflow.com/questions/6160415/reload-an-html-page-just-once-using-javascript -->
     <script type="text/javascript">
        $(document).ready(function(){
      
            //Check if the current URL contains '#' 
            if(document.URL.indexOf("#")==-1)
            {
                // Set the URL to whatever it was plus "#".
                url = document.URL+"#";
                location = "#";
      
                //Reload the page
                location.reload(true);
      
            }
        });
      </script>


    </body>


</html>