<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>Hello, world!</title>
</head>

<body>
  <!-- Image and text -->
  <nav class="navbar" style="background-color: #1C00CE">
    <a class="navbar-brand" href="/template/genre">
      <img src="/vinyl.svg" width="50" height="50" class="d-inline-block align-top">
      <h1 class="vinylshop" style="color:whitesmoke"> Vinyl Shop </h1>
    </a>

  </nav>


  <div class="container" style="margin-top: 6%">
    <div class="row">
      <div class="col-sm">
        <img class="album" src="/album{vinyl.id}.jpg" width="300" height="300">
      </div>
      <div class="col-md">

        <h1 style="display: inline-block"> {vinyl.title} </h1> 
          <a href="/template/genre/{vinyl.genre}" style="margin-left: 2%;"
          class="btn btn-primary">{vinyl.genre}</a> <b>{vinyl.price} $ </b>
        <p class="artist"> {vinyl.artist}</p>
        <p>
          {vinyl.description}
        </p>

      </div>
    </div>
    <div class="row">
      <a href="/template/client/{user.id}" class="user_component">
        <div class="col-sm">
          <img class="album" src="/ringo.jpg" width="25" height="25">
        </div>
        <div class="col-sm">
          <h1>{user.username}</h1>
        </div>  
      </a>
    </div>
  </div>


  <h1 style="margin-top: 8%; text-align: center"> 
    Interested in {user.username}'s' offer ? 
  </h1>


  <div class="contact_details" style="text-align: center; margin-top: 3%">
    <h2>Contact Information</h2>
    <p>
      Email: <a
        href="mailto:{user.contact.email}?subject=VinylOrderNr#1234&body=Hey bezüglich deines Vinyls 'Abbey Road' auf Vinl Shop">
        {user.contact.email}</a>
      <br>
      Phone: {user.contact.phone}
    </p>
  </div>


  <h1 style="margin-top: 8%; text-align: center"> Similar Titles </h1>

  <div class="container" style="margin-top: 5%">
    <div class="row">

      <div class="col-md">
        <div class="suggestion" style="width: 18rem;">
          <img class="card-img-top" src="/album{recommendation[0].id}.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{recommendation[0].title}</h5>
            <p class="card-text"></p>
            <a href="/template/vinyl/{recommendation[0].id}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="suggestion" style="width: 18rem;">
          <img class="card-img-top" src="/album{recommendation[1].id}.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{recommendation[1].title}</h5>
            <p class="card-text"></p>
            <a href="/template/vinyl/{recommendation[1].id}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      
      <div class="col-md">
        <div class="suggestion" style="width: 18rem;">
          <img class="card-img-top" src="/album{recommendation[2].id}.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{recommendation[2].title}</h5>
            <p class="card-text"></p>
            <a href="/template/vinyl/{recommendation[1].id}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>


    </div>
  </div>











  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>